<div class="flex flex-col bg-white rounded-lg p-4 mx-4 my-6">
    <div class="flex flex-col justify-between p-2">
  <div class="flex flex-col md:flex-row items-start md:items-center justify-between mt-0">
    <div>
      <h2 class="font-semibold text-lg text-eventTableColor">Tickets List</h2>
    </div>
    <div class="flex items-center">
     <div class="flex bg-searchBackground rounded-3xl px-4 py-2 w-4/5 md:w-full">
       <fa-icon class="text-eventTableColor mx-2" [icon]="faSearch" />
      <input class="border-0 bg-transparent text-sm hover: outline-none" placeholder="search" />
     </div>
      <div class="bg-searchBackground rounded-md p-2 ml-2 md:ml-4 cursor-pointer" (click)="openHeaderDropDown()">
         <fa-icon class="text-deepBlue" [icon]="faEllipsisH" />
      </div>
    </div>
    <div
            *ngIf="showHeaderDropDown"
            class="absolute right-4 mt-28 w-auto bg-white border rounded shadow z-10 cursor-pointer"
          >
            <button class="block w-full text-left px-4 py-2 hover:bg-gray-100">
              Add Ticket
            </button>
        </div>
  </div>
</div>
<div class="w-full overflow-x-auto">
  <table class="min-w-full text-sm text-left">
    <thead class="uppercase text-xs border-b-[1px] border-b-gray-300 text-eventTableColor">
      <tr>
        <th class="px-4 py-3">Ticket No</th>
        <th class="px-4 py-3">Event</th>
        <th class="px-4 py-3">Persons</th>
        <th class="px-4 py-3">Active</th>
        <th class="px-4 py-3">Date Booked</th>
        <th class="px-4 py-3 text-right">Actions</th>
      </tr>
    </thead>

    <tbody>
      @for (ticket of paginatedTickets; let i = $index; track $index) {
      <tr
        class="hover:bg-gray-50 hover:cursor-pointer text-eventTableColor"
      >
        <td class="px-4 py-3 font-medium">{{ ticket.ticketNo }}</td>
        <td class="px-4 py-3">{{ ticket.event }}</td>
        <td class="px-4 py-3">{{ ticket.persons }}</td>
        <!-- Verified -->
        <td class="px-4 py-3">
          <div
            class="flex items-center justify-center w-6 h-6 rounded-full"
            [ngClass]="ticket.active ? 'bg-green-600' : 'bg-red-600'"
          >
            <fa-icon *ngIf="ticket.active" [icon]="faCheck" class="text-md cursor-pointer text-white"></fa-icon>
            <fa-icon *ngIf="!ticket.active" [icon]="faTimes" class="text-md cursor-pointer text-white"></fa-icon>
          </div>
        </td>

        <td class="px-4 py-3">{{ ticket.dateBooked }}</td>

        <!-- Actions -->
        <td class="px-4 py-3 text-right relative">
          <button
            class="p-2 rounded hover:bg-gray-200"
            (click)="toggleMenu(i)"
          >
         <fa-icon [icon]="faElipsis" class="text-lg cursor-pointer"></fa-icon>

          </button>

          <div
            *ngIf="openMenuIndex === i"
            class="absolute right-4 mt-2 w-32 bg-white border rounded shadow z-10"
          >
            <button class="block w-full text-left px-4 py-2 text-red-600 hover:bg-gray-100">
              Revoke
            </button>
          </div>
        </td>
      </tr>
      } @empty {
        <tr>
            <td colspan="6" class="px-4 py-3 text-center text-eventTableColor">
            No tickets found.
            </td>
        </tr>
      }
    </tbody>
  </table>

  <!-- Pagination -->
  <div class="flex items-center justify-between px-4 py-3 border-t">
    <span class="text-sm text-eventTableColor">
      Page {{ currentPage }} of {{ totalPages }}
    </span>

    <div class="flex gap-2">
      <button
        class="px-3 py-1 border rounded disabled:opacity-50"
        (click)="changePage(currentPage - 1)"
        [disabled]="currentPage === 1"
      >
        Prev
      </button>

      <button
        class="px-3 py-1 border rounded disabled:opacity-50"
        (click)="changePage(currentPage + 1)"
        [disabled]="currentPage === totalPages"
      >
        Next
      </button>
    </div>
  </div>
</div>
</div>

