<div class="min-w-screen p-4 flex flex-wrap flex-col md:flex-row overflow-hidden mb-10">
 <div class="w-screen md:w-1/2 flex flex-col md:flex-row relative h-72 px-0 md:px-10">
   <img src="/assets/images/about-image.png" class="opacity-30 m-auto h-64"/>
   <img src="/assets/images/about-image.png" class="m-auto h-64 absolute  left-5 md:left-60 top-10"/>
 </div>
 <div class="w-screen md:w-1/2 flex flex-col px-10 mt-10 md:mt-4">
    <h3 class="font-extrabold text-3xl py-4 px-auto">About EventZ</h3>
    <p class="px-auto font-extralight text-sm">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
        when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
        It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. 
    </p>
    <div class="flex items-center mt-10">
        <button class="bg-deepBlue text-white px-6 py-2 rounded-md cursor-pointer">See more</button>
     </div>
 </div> 
</div>
