<div class="flex flex-col h-auto min-w-screen mb-10 pt-10">

    <div class="flex flex-row justify-between  px-2 md:px-12">
      <h2 class="text-2xl  md:text-3xl font-extrabold text-eventsTitle">Upcoming Events</h2>
      <div class="flex flex-col md:flex-row">
         <div class="input-wrapper bg-eventsFilters rounded-xl px-2 py-2 mx-2">
             <select class="bg-transparent w-32 focus:outline-none">
                <option>Weekdays</option>
                <option>Weekend</option>
             </select>
         </div>
         <div class="input-wrapper bg-eventsFilters rounded-xl px-2 py-2 mt-2 md:mt-0">
            <select class="bg-transparent w-32 focus:outline-none">
               <option>Exhibition</option>
               <option>Music</option>
            </select>
        </div>
      </div>
    </div>
</div>
