<div>
  <div class="main w-full h-screen flex flex-col justify-between mb-12">
    <app-navbar> </app-navbar>
    <div class="mx-auto w-3/4">
      <h2 class="text-white text-center text-xl md:text-6xl font-bold mx-auto">
        Your Ultimate Destination For Unforgettable
        <span class="text-paleOrange font-bold">Events</span>
      </h2>
    </div>
      <div class="w-3/4 mx-auto bg-white rounded-3xl  h-32 md:h-16 flex items-center justify-center mt-24 md:-mb-8  shadow-lg">
        <form class="flex flex-col md:flex-row w-full justify-between  items-start md:items-center px-4">
              <div class="flex items-center justify-between">
                  <label class="text-deepBlue md:mr-2">City</label>
                  <select class="w-full focus:outline-none">
                    <option>London</option>
                    <option>Washington D.C</option>
                  </select>
                </div>
                <div class="flex items-center justify-between">
                  <label class="text-deepBlue md:mr-2">Date</label>
                  <input class="w-full focus:outline-none" type="date" />
                </div>
                <div class="flex items-center justify-between">
                  <label class="text-deepBlue md:mr-2">Category</label>
                  <select class="w-full focus:outline-none">
                    <option>Sports</option>
                    <option>Music</option>
                  </select>
                </div>
               <div class="flex items-center">
                  <button class="bg-deepBlue text-white px-6 py-2 rounded-3xl cursor-pointer">Search</button>
               </div>
        </form>
      </div>
  </div>
  <div class="py-12">
    <app-categories></app-categories>
  </div>
  <div class="mx-auto">
    <app-about></app-about>
  </div>
  <div class="mx-auto">
    <app-events></app-events>
  </div>
  <div class="mx-auto">
    <app-event></app-event>
  </div>
  <div>
    <app-button class="bg-deepBlue "></app-button>
  </div>
  <div class="flex flex-col md:flex-row items-center justify-center p-2 bg-lightPurple">
    <div class="image">
      <img
         class="w-full h-56  my-auto object-contain"
         src="/assets/images/create-event.png"
         alt="sign-up.png"
       />
    </div>
    <div class="flex flex-col items-start justify-center">
      <h2 class="font-bold text-2xl">Make Your Own Event</h2>
      <p>Lorem ipsum, dolor sit amet consectetur quibusdam mollitia saepe officiis!</p>
       <app-button [backgroundColor]="whiteColor" [color]="deepBlue"></app-button>
    </div>
  </div>
</div>
