<div class="grid grid-cols-2 md:grid-cols-6 w-full my-2 px-1">
  <img src="assets/images/event.jpg" class="w-20 h-14 rounded-lg"/>
  <div class="flex flex-col">
    <p>World Tour New York</p>
    <p class="my-2 text-upcomingEventColor">25 Dec 2024</p>
  </div>
  <p class="my-2 text-upcomingEventColor hidden md:block">New York</p>
  <p class="my-2 text-upcomingEventColor hidden md:block">100 tickets sold</p>
  <p class="my-2 text-upcomingEventColor hidden md:block">Pending</p>
  <p class="my-2 text-deepBlue hidden md:block">Organizer: JM</p>
</div>
