<!-- Navbar Container -->
<div class="flex flex-col md:flex-row items-center justify-between w-full min-h-20 px-4 py-0">
  <div class="flex justify-between items-center w-full md:w-auto">
    <h1 class="text-white font-bold text-3xl md:text-4xl">EventZ</h1>
      <img
         class="w-auto h-auto object-cover md:hidden"
         src="/assets/images/sort.svg"
         alt="sign-up.png"
         (click)="toggleNav()"
       />
  </div>
  <ul 
    class="flex flex-col md:flex-row items-center w-full md:w-auto mt-4 md:mt-0"
    [ngClass]="{'hidden': !showNav, 'flex': showNav}"
  >
    <li class="text-white cursor-pointer md:px-8" *ngFor="let route of routes">
      {{ route.name }}
    </li>
  </ul>

  <button class="border-2 border-white text-white rounded-lg px-4 py-1 md:block" *ngIf="showNav || !isMobile()">
    Sign In
  </button>
</div>
