<div class="flex items-center justify-center min-h-screen w-full">
  <div class="flex flex-col md:flex-row">
    <!-- Form -->
    <div class="flex flex-1 flex-col flex-shrink-0 p-6 p:md-8">
      <h1 class="text-2xl font-bold">Create an Account</h1>
      <span
        >Already have an account?
        <a routerLink="/login"
          class="cursor-pointer underline text-black font-semibold"
          >login</a
        ></span
      >
      <div *ngIf="redirectingToLogin" class="bg-green-400 rounded-md p-2 flex items-start">
        <h3 class="text-white">Registration succefull.Redirecting to login ....</h3>
      </div>

      <div>
      <form [formGroup]="registrationForm" class="flex flex-col" (ngSubmit)="registerUser()">
        <label class="mt-4">Email</label>
        <input
          class="border rounded-lg h-10 focus:outline-none p-2"
          type="email"
          placeholder="enter email"
          formControlName="email"
        />
      <div *ngIf="email?.invalid && email?.touched" class="text-red-700">
        <small *ngIf="email?.errors?.['required']">Email is required</small>
        <small *ngIf="email?.errors?.['email']">Email is invalid</small>
      </div>
        <label class="mt-4">Password</label>
        <input
          class="border rounded-lg h-10 focus:outline-none p-2"
          type="password"
          placeholder="enter password"
          formControlName="password"
        />
        <div *ngIf="password?.invalid && password?.touched" class="text-red-700">
          <small *ngIf="password?.errors?.['required']">Password is required.</small>
          <small *ngIf="password?.errors?.['minlength']">Password must be at least 6 characters.</small>
        </div>
        <label class="mt-4">Confirm Password</label>
        <input
          class="border rounded-lg h-10 focus:outline-none p-2"
          type="password"
          placeholder="confirm password"
          formControlName="confirmPassword"
        />
        <div *ngIf="confirmPassword?.invalid && confirmPassword?.touched" class="text-red-700">
          <small *ngIf="confirmPassword?.errors?.['required']">Confirm password is required.</small>
          <small *ngIf="confirmPassword?.errors?.['passwordMismatch']">Passwords do not match.</small>
        </div>
        <p>
          By creating an account you agree to our <br />
          <strong class="underline cursor-pointer font-semibold"
            >Terms of use</strong
          >
          and
          <strong class="underline cursor-pointer font-semibold">Policy</strong>
        </p>
        <button
          [disabled]="registrationForm.invalid"
          class="flex align-center justify-center bg-deepBlue text-white rounded-lg mt-4 w-1/2 md:w-1/4 p-2 p:md-3"
        >
          Register
        </button>
      </form>
      </div>
    </div>

    <!-- Banner -->
    <div class="hidden md:block flex-1 p-6 p:md-8">
      <img
        class="w-full h-full object-cover"
        src="/assets/images/sign-up.png"
        alt="sign-up.png"
      />
    </div>
  </div>
</div>
