## Build results
bin/
obj/
out/
publish/
artifacts/

## Visual Studio files
.vs/

## Rider files
.idea/

## VS Code settings
.vscode/

## User-specific files
*.user
*.userosscache
*.suo
*.sln.docstates

## Logs
*.log

## Temporary files
*.tmp
*.temp
*.tmp.*
*.backup
*.bak

## NuGet
*.nupkg
*.snupkg
.nuget/
packages/

## Azure
*.azurePubxml
*.pubxml
*.publishproj

## ASP.NET Scaffolding
ScaffoldingReadMe.txt

## Resharper
_ReSharper*/
*.[Rr]e[Ss]harper

## DotCover
*.dotCover

## Coverage reports
coverage/
*.coverage
*.coveragexml

## Others
node_modules/
wwwroot/lib/