<nav class="fixed inset-x-0 bottom-0 z-40 flex justify-around border-t border-border-light bg-white px-2 pb-3.5 pt-2.5">
  <a routerLink="/" routerLinkActive="text-brand" [routerLinkActiveOptions]="{ exact: true }" class="flex flex-col items-center gap-1 text-[10.5px] font-semibold text-text-tertiary">
    <ng-icon name="lucideCompass" size="19" />
    Discover
  </a>
  <a routerLink="/account" routerLinkActive="text-brand" class="flex flex-col items-center gap-1 text-[10.5px] font-semibold text-text-tertiary">
    <ng-icon name="lucideHeart" size="19" />
    Saved
  </a>
  <a routerLink="/tickets" routerLinkActive="text-brand" class="flex flex-col items-center gap-1 text-[10.5px] font-semibold text-text-tertiary">
    <ng-icon name="lucideTicket" size="19" />
    Tickets
  </a>
  <a routerLink="/account" routerLinkActive="text-brand" class="flex flex-col items-center gap-1 text-[10.5px] font-semibold text-text-tertiary">
    <ng-icon name="lucideUser" size="19" />
    Profile
  </a>
</nav>
