<div class="w-full h-full d-flex flex-col bg-eventsDetailBackground">
    <div class="w-full d-flex">
        <app-navbar [isLandinPage]="false"></app-navbar>
    </div>

    <div class="flex px-3 py-2 my-4">
        <h1 class="text-black font-semibold text-2xl">Order Confirmation</h1>
    </div>
    <div class="flex flex-col md:flex-row w-full">
        <div class="flex flex-col p-2 m-1 w-full md:w-2/3">
            <div class="flex flex-col bg-white rounded-md p-2">
                <h3 class="font-semibold">Billing information</h3>
                <hr />
                <div class="flex flex-col">
                    <div class="flex mb-2 mt-4">
                        <div class="flex flex-col w-1/2 mx-1">
                            <label>FirstName*</label>
                            <input class="border border-paleGray rounded-md focus:outline-none px-1 py-2 mr-1"
                                type="text" required />
                        </div>
                        <div class="flex flex-col w-1/2">
                            <label>LastName*</label>
                            <input class="border border-paleGray rounded-md focus:outline-none px-1 py-2" type="text"
                                required />
                        </div>
                    </div>
                    <div class="flex my-2">
                        <div class="flex flex-col w-1/2 mx-1">
                            <label>Email*</label>
                            <input class="border border-paleGray rounded-md focus:outline-none px-1 py-2 mr-1"
                                type="email" required />
                        </div>
                        <div class="flex flex-col w-1/2">
                            <label>Address*</label>
                            <input class="border border-paleGray rounded-md focus:outline-none px-1 py-2" type="text"
                                required />
                        </div>
                    </div>
                    <div class="flex my-2">
                        <div class="flex flex-col w-1/2 mx-1">
                            <label>Country*</label>
                            <input class="border border-paleGray rounded-md focus:outline-none px-1 py-2 mr-1"
                                type="text" required />
                        </div>
                        <div class="flex flex-col w-1/2">
                            <label>Address*</label>
                            <input class="border border-paleGray rounded-md focus:outline-none px-1 py-2" type="text"
                                required />
                        </div>
                    </div>
                    <div class="flex my-2">
                        <div class="flex flex-col w-1/2 mx-1">
                            <label>City*</label>
                            <input class="border border-paleGray rounded-md focus:outline-none px-1 py-2 mr-1"
                                type="text" required />
                        </div>
                        <div class="flex flex-col w-1/2">
                            <label>ZIP Code*</label>
                            <input class="border border-paleGray rounded-md focus:outline-none px-1 py-2" type="text"
                                required />
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex flex-col bg-white rounded-md p-2 mt-4">
                <h3 class="font-semibold">Card Information</h3>
                <hr />
                <div class="flex flex-col">
                    <div class="flex flex-col w-full mx-1">
                        <label class="mt-4">Card Number*</label>
                        <input class="border border-paleGray rounded-md focus:outline-none px-1 py-2 mr-1" type="text"
                            required />
                    </div>
                    <div class="flex my-2">
                        <div class="flex flex-col w-1/2 mx-1">
                            <label>Expiry Date*</label>
                            <input class="border border-paleGray rounded-md focus:outline-none px-1 py-2 mr-1"
                                type="email" required />
                        </div>
                        <div class="flex flex-col w-1/2">
                            <label>CVV*</label>
                            <input class="border border-paleGray rounded-md focus:outline-none px-1 py-2" type="text"
                                required />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex flex-col p-2 bg-white rounded-md m-1 w-full md:w-1/3 mx-1">
            <h3 class="font-semibold">Billing information</h3>
            <hr />
            <div class="flex flex-col mt-4">
                <!-- Event Header -->
                <div class="flex flex-col md:flex-row h-auto">
                    <!-- Calendar Card -->
                    <div class="calendar-card flex flex-col">
                        <img class="mt-1 rounded-xl h-16 w-20" src="/assets/images/event.jpg">
                    </div>
                    <!-- Event MetaData -->
                    <div class="flex flex-col w-full px-2 h-16 justify-between">
                        <div class="header">
                            <h2 class="text-2xl font-bold">World Tour New York City</h2>
                        </div>
                        <div class="flex flex-col md:flex-row">
                            <!-- location -->
                            <div class="flex w-1/2 items-start">
                                <fa-icon class="mr-2" [icon]="location" aria-hidden="true"
                                    [styles]="{'color': '#381ddb'}"></fa-icon>
                                <h3 class=" font-semibold">London</h3>
                            </div>
                            <div class="flex w-1/2 items-start">
                                <fa-icon class="mr-2" [icon]="watch" aria-hidden="true"
                                    [styles]="{'color': '#381ddb'}"></fa-icon>
                                <h3 class=" font-semibold">Starts at 11:30 a.m</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex flex-col mt-8">
                   <div class="flex items-center justify-between w-4/5 my-4">
                   <h4 class="font-semibold">Total Ticket</h4>
                   <h4 class="font-semibold mr-4">2</h4>
                   </div>
                   <div class="flex items-center justify-between w-4/5 my-4">
                    <h4 class="font-semibold">Sub Total</h4>
                    <h4 class="font-semibold">$50</h4>
                    </div>
                    <div class="flex items-center justify-between w-4/5 my-4">
                        <h4 class="font-bold">Total</h4>
                        <h4 class="font-bold">$100</h4>
                    </div>
                </div>
                 <!-- Coupon -->
                <div class="w-full mx-auto my-4 me-4">
                  <form class="flex flex-col">
                    <label>Coupon Code</label>
                    <div class="flex border-2 border-palegray w-full rounded-lg">
                        <input class="border-0 focus:outline-none w-2/3 py-3 ps-2" type="text">
                        <button class="text-white bg-deepBlue w-1/3 rounded-r-lg py-4 px-auto">Submit</button>
                    </div>
                  </form>
                </div>

                <div class="w-full my-8">
                  <button class="bg-deepBlue text-white rounded-lg py-3 px-auto w-full mx-auto">Confirm & Pay</button>
                </div>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>